<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 	<bean id="peng" class = "in.komdha.beans.PetrolEngine" />
	<!-- <bean id="deng" class = "in.komdha.beans.DisealEngine" /> -->
	
	<bean id="car" class="in.komdha.beans.Car">
		<!-- property tag means setter injection -->
		<property name = "eng" ref="peng"/>
		<!-- here IoC container injects peng object into target calss' variable having the name eng -->
	</bean>
	
</beans>